*{
    padding: 0;
    margin: 0;
}

.body{
    background: url(../bg2.jpg);
    min-height: 100vh;
    
    background-repeat: repeat;
    display: flex;
    justify-content: center;
    align-items: center;

}

#board{
    background: linear-gradient(rgb(175, 235, 96) ,rgb(95, 198, 216));
    width: 100vmin;
    height: 100vmin;
    border: 2px solid rgb(115, 255, 0);
    display: grid;
    grid-template-columns: repeat(18,1fr);
    grid-template-rows: repeat(18,1fr);
}

.head{
    background-color: red;

}

.snake{
    background-color: purple;
}

.food{
    background-color: yellow;
}